* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  color: hsl(0deg, 0%, 0%);
  font-size: calc(20rem / 16);
  font-weight: 500;
  line-height: 1.5;
}

/* Add styles here! */

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 16px;
}

header {
  padding: 96px 24px 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: 800;
}

.intro-chunk {
  max-width: 415px;
  margin: 0 24px;
}

.max-width-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin: 0;
  margin-bottom: 48px;
  font-size: calc(32rem / 16);
  font-weight: 800;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background: hsl(0deg, 0%, 30%);
  padding: 64px 0;
}

.card {
  padding: 24px;
  background: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  font-size: calc(24rem / 16);
  line-height: 1.2;
  font-weight: 800;
  padding: 16px 32px;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -24px;
  margin-top: -16px;
  width: fit-content;
}
